body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/46/11/cocktails-alcohol-drinks-background-seamless-vector-3514611.jpg");
  font-size: x-large;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.541);
  text-align: center;
  border-radius: 0;
  padding: 20px 10px;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: large;
  color: white
}

header nav ul li a:hover {
  color: rgb(173, 0, 253);
  border-radius: 15px;
  text-shadow: none;
  background-color: rgba(214, 184, 214, 0.712);
}
