body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("../images/background.jpg");
  height: 1200px;
}

header {
  
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.541);
  text-align: center;
  border-radius: 0;
  padding: 20px 10px;
}

h1 {
  animation: flicker 8s infinite alternate;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header nav ul li div {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: large;
  color: white;
}

header nav ul li div:hover {
  color: rgb(215, 228, 222);
  border-radius: 15px;
  text-shadow: none;
  background-color: #0fa,
}

.neon-title, li div, h4 {
  color: white;
  text-shadow:
  /* white glow */
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  /* green glow */
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
}


/* flicker */
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

.description {
  text-align: center;
  font-size: 36px;
  color: white;
}

.display {
  text-align: center;
  font-size: 18px;
  color: white;
}


#actualFooter {
  padding: 10px 15px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 20px;
  background-color: rgb(230, 32, 220);
  background-image: linear-gradient(45deg, #d353da 0%, #6a39db 52%, #ed2bff 90%);
  opacity: .7;
  color:white;
}

